*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#wrapper{
    width: 970px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    width: 970px;
    height: 70px;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header h1{
    font-family: 'Satisfy', cursive;
    font-size: 28pt;
    padding: 10px 0 0 20px;
}
#header p{
    padding: 0 40px 0 0;
    font-weight: bold;
    font-size: 15pt;
}
#main{
    width: 970px;
    background-image: radial-gradient(circle, rgb(145, 117, 131), rgb(26, 10, 14 ));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
}
#footer{
    width: 970px;
    height: 70px;
    background-color: rgb(243, 243, 243);
    text-align: center;
    padding: 10px 0 10px 0;
}
#footer img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
#footer p{
    padding-bottom: 10px;
}
#footer a{
    font-style: italic;
}
.bio{
    width: 480px;
    height: 275px;
}
.bio p{
    padding: 10px
}
.bio a{
    padding: 0 10px 30px 10px;
}
.topics{
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(218, 203, 217));
}
.projects{
    width: 290px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}
.projects p{
    height: 160px;
    padding: 10px;
    font-size: 10pt;
    text-align: justify;
}
.headshot{
    width: 410px;
    height: 275px;
    border: 5px solid rgb(192, 192, 192);
}
.icons{
    padding: 10px 10px 5px 10px;
}
.icons img{
    width: 40px;
    height: 40px;
    margin: 5px;
}
a{  
    color: black;
}
h3, h4{
    height: 40px;
    background-image: linear-gradient(rgb(180, 180, 183), rgb(135, 134, 147), rgb(180,180,183));
    color: white;
    padding: 8px 0 0 10px;
}
form{
    margin-bottom: 20px;
    text-align: center;
}
input{
    color: white;
    background-color: rgb(64, 125, 97);
    border-radius: 10px;
    padding: 6px;
    border: 1px solid black;
    font-weight: bold;
    box-shadow: 3px 4px 5px 0px rgb(142, 142, 142)
}